<ion-content>
  <div class="spin" *ngIf="spinner">
    <ion-spinner name="crescent"></ion-spinner>
</div>
<div *ngIf="!spinner">
  <ion-row>
    <ion-col>
      <ion-button color="success" (click)="irASalas()" expand="block">Salas</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="danger" (click)="authService.SignOut()" expand="block">Salir</ion-button>
    </ion-col>
  </ion-row>
   
    <div class="d-flex justify-content-center">
      <div class="card">
          <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <i class="fas fa-chevron-left"></i> <span class="pb-3">Chat 4A</span> <i class="fas fa-times"></i> </div>
          
          <div *ngFor="let mensaje of listadoMensajesMostrar">
            <ng-template [ngIf]="!mensaje.siSoy">
              <div class="flex-row p-3"> 
    
             
                 
                  <div class="chat ml-2 p-3">{{mensaje.mensaje}}
                    <br>
                    <ion-note style="font-size: 0.6rem;">
                      {{mensaje.email}} {{mensaje.fecha}}
                    </ion-note>
                   
                  </div>
                  
              </div>
             
            </ng-template>
            <ng-template [ngIf]="mensaje.siSoy">
              <div class="flex-row p-3 ms-1">
                <div class="bg-white mr-2 p-3"><span class="text-muted">{{mensaje.mensaje}}</span>
                  <br>
                  <ion-note style="font-size: 0.6rem;">
                    {{mensaje.fecha}}
                  </ion-note>
                </div>
                
                 
            </div>
            </ng-template>
           
          </div>
         
         
          
          <div class="form-group px-3">
            <ng-template [ngIf]="this.hayError">
              <span class="alert-danger">{{this.error}}</span>
            </ng-template>
  
             <textarea class="form-control" rows="5" placeholder="Escriba su mensaje" [(ngModel)]='mensaje'></textarea>
             <ion-button color="success" (click)="mandarMensaje()" expand="block">Enviar</ion-button>
          </div>
      </div>
  </div>
</div>

</ion-content>