
<ion-content>
  <br>

  <div class="ion-text-center focus-in-contract-bck">
    <!-- <ion-label>DANIELA MORENO</ion-label> -->
    <img src="../../../assets/daniela.png">
    <!-- <h1 style="color: black;font-family: 'Lucida Console', 'Courier New', monospace;">DANIELA MORENO</h1> -->
  </div>

  
  <!-- <label class="text-animated ionic-text-center">DANIELA MORENO</label> -->
  <div class="rotate-in-diag-1 ion-text-center">
    <img src="../../../assets/icon.png">
  </div>
  <div class="ion-text-center focus-in-contract-bck">
    <!-- <ion-label>4 A</ion-label> -->
    <img src="../../../assets/4a.png">
  </div>
</ion-content>
