
<div  style="background-color: #BC52E5;">
  <ion-card  style="background-color: #BC52E5;">
    <div class="text-center">
      <img  src="../../../assets/conversando.png" style="height: 100%;width: 85%;">
    </div>
    <form [formGroup]="formulario" (ngSubmit)="Loguear()">
        <ion-item color="#71c1e8">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" class="formControl"  formControlName="Email" required></ion-input>
        </ion-item>

        <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('required') && formulario.get('Email')?.touched">El Email es requerido.</span> 
        <span class="text-danger" *ngIf="formulario.get('Email')?.hasError('pattern') && formulario.get('Email')?.touched">El Email debe tener x.</span>
      
        <ion-item color="#71c1e8">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" class="formControl" formControlName="Password" required></ion-input>
        </ion-item>
      
       <span class="text-danger" *ngIf="formulario.get('Password')?.hasError('required') && formulario.get('Password')?.touched">La contraseña es requerida.</span>  
     
      <!-- <ion-button size="small" color="warning" type="submit" shape="round" expand="block" [disabled]="formulario.invalid">Logueate</ion-button> -->
      <ion-button type="submit" expand="block" [disabled]="formulario.invalid" style="--background: #c579e2;">
        <ion-icon name="enter-outline" size="large" ></ion-icon>
      </ion-button>
      
  </form>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button (click)="Sereneis()" style="--background:#c579e2;">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-fab-button>
    <ion-fab-button (click)="Irina()" style="--background:#c579e2;">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-fab-button>
    <ion-fab-button (click)="Denu()" style="--background:#c579e2;">
      <ion-icon name="happy-outline"></ion-icon>
     
    </ion-fab-button>
    
  </ion-fab>
  <div class="text-center"> <img style="background-color: #BC52E5;"src="../../../assets/icon.png" alt=""> </div>
  
  </ion-card>
  
</div>
